@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  height: 100vh;
}

.todo-body{
  background-image: url('../public/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background-color: #3b7dc9;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  line-height: 1.15;
  font-size: large;
  margin-right:3px;
  padding: 12px 18px;
  text-align: center;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
}

.btn:active {
  background-color: #006AE8;
}

.btn:hover {
  background-color: #539bf3;
}

.todo-edit{
  background-color: transparent;
  padding:6px 9px;
}

.todo-cancel{
  background-color: transparent;
  padding:6px 9px;
}

.todo-edit:hover{
  background-color: gainsboro;
  border-radius: 5px;
}

.todo-cancel:hover{
  background-color: gainsboro;
  border-radius: 5px;
}

.todo-cancel:hover .fa-trash{ 
  color: #e80000;
}

.todo-edit:hover .fa-edit{ 
  color: #f7bc4f;
}

.edit-confirm{
  padding:6px 9px;
  background-color: transparent;
}

.edit-cancel{
  padding:6px 9px;
  background-color: transparent;
}

.fa-check{
  color:#006AE8
}

.fa-times{
  color:#006AE8
}

.fa-edit{
  color: #006AE8;
}

.fa-trash{
  color: #006AE8;
}

.todoapp-main{
padding-top: 15px;
align-items: center;
justify-content: center;
width: 50vw;
min-height: 80vh;
margin: 30px auto 30px auto;
border-radius: 8px;
box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
background-color: rgba(255,255,255,0.95);
}

input[type=checkbox] {
  transform:scale(1.5);
  cursor: pointer;
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-group-edit{
  display: flex;
  flex-direction: column;
  transform: translateY(10px);
  margin-right: 13px;
}

.btn-group{
  display: flex;
  flex-direction: column;
  transform: translateY(10px);
  margin-top: auto;
}

.cb-wrapper{
  display: flex;
  padding:10px 10px 0px 10px;
}

.form-view-main{
  display: grid;
  grid-template-columns: 90% 10%;
  margin: 0px 10px;
  border-bottom: gainsboro 2px solid;
  padding-bottom: 10px;
}

.form-edit-main{
  padding-bottom: 10px;
  border-bottom: gainsboro 2px solid;
  margin: 0px 10px;
}

.form-edit{
  display: grid;
  grid-template-columns: 90% 10%;
  border: 0;
  resize: none;
}

.form-edit input{
  resize: none;
  outline: none;
  padding: 10px 10px 0px 30px;
  background: rgba(255, 255, 255, 0.1);
}

.edit-confirm:hover .fa-check{ 
  color: #04f82d;
}

.edit-cancel:hover .fa-times{ 
  color: #f80404;
}

.edit-confirm:hover{
  background-color: gainsboro;
  border-radius: 5px;
}

.edit-cancel:hover{
  background-color: gainsboro;
  border-radius: 5px;
}

.todo-label{
  height: 100%;
  font-size: 22px;
  margin-bottom: auto;
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-hyphens:auto;
  hyphens: auto;
  border: 0;
}

.list-heading{
  margin-top: 20px;
  font-size: small;
  letter-spacing: 1px;
  text-align: center;
}

li{
  list-style-type:none;
}

.navbar-todo{
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  width:100vw;
}

.navbar-todo a{
  font-family: 'Oswald', sans-serif;
  font-weight:600;
  display: inline;
  text-transform:uppercase;
  text-decoration:none;
  color:#006AE8;
  margin:0 12px;
  font-size:20px;
  letter-spacing:1px;
  padding-right: 30px;
}

.navbar-todo a:hover{
    transition: all 0.2s ease;
    color: #53e8f3;
    font-weight: 600;  
    font-size: larger;
}

.header{
  background-image: linear-gradient(to left,#73c9b6,#606ba7);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 30px; 
  letter-spacing: -1px; 
}
.header img {
  height: 40px;
  padding-right: 10px;
  color: #006AE8;
  filter:saturate(3);
}

.filters{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input{
  padding-left: 10px;
  width: 40vw;
  height: 40px;
  margin-right: 3px;
  background-color: #f7f7f7;
  border: 2px solid #3b7dc9;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: large;
  resize: none;
}

.toggle-btn:first-of-type{
  border-radius: 8px 0px 0px 8px;
  }
  
.toggle-btn:last-of-type{
  border-radius: 0px 8px 8px 0px;
  }
  
.btn-add{
  border-radius: 0px 8px 8px 0px;
  }

/* HOME ------------------------------------------------------------------------------ */

.home-body{
  background-image: url("https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
  overflow-x: hidden;
}

.navbar-home{
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  width:100vw;
}

.navbar-home a{
  font-family: 'Oswald', sans-serif;
  font-weight:600;
  display: inline;
  text-transform:uppercase;
  text-decoration:none;
  color:rgb(1, 247, 247); 
  margin:0 12px;
  font-size:20px;
  letter-spacing:1px;
  padding-right: 30px;
}

.navbar-home a:hover{
    transition: all 0.2s ease;
    color: #006AE8;
    font-weight: 600;  
    font-size: larger;
}

.home-heading{
  position:fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fade 1.5s;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.home-heading h1{
  color: rgb(1, 247, 247); 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  text-align: center; 
  -webkit-text-stroke:2px #111;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}

.home-heading h2{
  color: rgb(0, 217, 255); 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: light; 
  text-align: center; 
  -webkit-text-stroke:1px #111;
  -webkit-user-select: none;
  user-select: none;
  margin:0;
}

.home-section{
  position:absolute;
  top: 100vh;
  width: 100vw;
  display: grid;
}

.section-1{
  background-color: #66b8b8;
  padding-top: 75px;
  padding-bottom: 100px;
}

.sec1-img{
  width: 40%;
  float:left;
  margin: 10px auto;
}

.sec1-img img{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: auto;
}

.sec1-text{
  width: 50%;
  float: left;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
}

.seperator{
  height: 400px;
  background-color: transparent;
}

.section-3{
  background-color: #bd8d46;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-sec3{
  background-color: #a75b05;
}

.btn-sec3:hover{
  background-color: #b9690e;
}

.sec3-img{
  width: 40%;
  float: right;
  margin: 10px auto;
}

.sec3-img img{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
}

.sec3-text{
  width: 50%;
  float: left;
  text-align: right;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
}

.section-4{
  background-color: #95b866;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-sec4{
  background-color: #016332;
}

.btn-sec4:hover{
  background-color: #048544;
}

.sec4-img{
  width: 40%;
  float:right;
  margin: 10px auto;
}

.sec4-img img{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
}

.sec4-text{
  width: 50%;
  float: left;
  text-align: right;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
}

.footer{
  height:130px;
  background-color: #1e1f1f;
  font-size: 25px;
  color:white;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.footer-left{
  padding-left: 30px;
}

.footer-middle{
  margin: auto;
}

.footer-right{
  padding-right:50px;
  text-align: right;
}

.scroll-btn {
  border: none;
  outline: none; 
  background-color: rgb(105, 104, 104); 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

.scroll-btn:hover {
  background-color: rgb(9, 170, 199); 
}

/* ABOUT US ------------------------------------*/

.about-body{
  background-color: rgb(212, 212, 212);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  max-width:100%;
}

.about-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  padding:7em 0px 0px 10em;
}

.about-heading{
  color:rgb(0, 0, 0);
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 25px;
}

.about-text{
  color:rgb(0, 0, 0);
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 25px;
}

.about-img img{
  width: 700px;
  height: 500px;
}

.about-footer{
  height:150px;
  background-color: #1e1f1f;
  font-size: 25px;
  color:white;
  display: grid;
  grid-template-columns: 50% 50%;
  position:absolute;
  bottom:0;
  width: 100%;
}

.about-footer-left{
  padding-left: 30px;
}

.about-footer-right{
  padding-right:50px;
  text-align: right;
  margin-left:auto;
}

.navbar-about{
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  width:100vw;
}

.navbar-about a{
  font-family: 'Oswald', sans-serif;
  font-weight:600;
  display: inline;
  text-transform:uppercase;
  text-decoration:none;
  color:rgb(0, 0, 0); 
  margin:0 12px;
  font-size:20px;
  letter-spacing:1px;
  padding-right: 30px;
}

.navbar-about a:hover{
    transition: all 0.2s ease;
    color: #005eeb34;
    font-weight: 600;  
    font-size: larger;
}

/* 404 ------------------------------------------------------------------------------- */

.not-found-header{
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 30px; 
  text-align: center; 
}
/* CALENDAR -----------------------------------------------*/

.calendar-body{
  background-image: url('../public/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.calendar-container{
  width :-moz-fit-content;
  width: fit-content;
  margin: 40px auto;
}

/* MEDIA SCREEN ---------------------------------------------------------------------- */

@media screen and (max-width:760px){
  .navbar-todo a{
    display:block;
    margin-bottom: 5px;
    text-align: center;
    padding:0;
  }

  .navbar-home a{
    display:block;
    margin-bottom: 5px;
    text-align: center;
    padding:0;
  }

  .todoapp-main{
    width: 65vw;
  }
  .form-edit{
    grid-template-columns: 85% 15%;
  }
  .form-view-main{
    grid-template-columns: 85% 15%;
  }
}

 @media screen and (min-width:1360px){
  .btn-group{
    flex-direction: row;
  }
  .todo-cancel{
    margin:0
  }
  .todo-edit{
    margin:auto 0 0 0;
  }
  .btn-group-edit{
    flex-direction: row;
    width:-moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width:500px){
.filters{
  flex-direction: column;
}
.toggle-btn:first-of-type{
  border-radius: 3px;
}

.toggle-btn:nth-child(2){
  word-wrap: break-word;
}
.toggle-btn:last-of-type{
  border-radius: 3px;
  word-wrap: break-word;
}
.toggle-btn{
  width:50%;
}
.form-input{
  display:block;
}
.form-input:placeholder-shown{
  text-overflow: ellipsis;
}
 .btn-add{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 4px;
}
.todoapp-main{
  width: 70vw;
}
.nav a{
  color:rgb(255, 255, 255)
}} 